* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: "Comic Sans MS";
  font-style: italic;
  position: relative;
}

/* Cabecera */

.cabecera {
  background-image: url(../imagenes/design1_image1.jpg);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 00px;
  background-size: 2000px 600px;
  max-height: 400px;
  max-width: 2000px;
}

/* Titulo */
.name {
  font-size: 100px;
}

/* Logo */
.logo {
  width: 150px;
  top: 130px;
  left: 1500px;
  z-index: 1;
}

/* Seccion/Evento Activo */

.events {
  display: i;
  background-color: #000000;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}

/* navbar */

.navbar {
  position: absolute;
  display: block;
  width: 300px;
  margin-top: 50px;
  left: 30px;
  top: 50px;
  font-size: 20px;
}

nav > div > a {
  font-size: 30px;
  display: block;
  padding: 20px;
  z-index: 1;
  color: cornflowerblue;
}

#active {
  color: #000000;
}

/* Main */

main > section > article {
  left: 700px;
  margin-top: 50px;
  font-size: 20px;
}

main > section > article > p {
  text-indent: 30px;
}

main {
  display: inline;
  width: 700px;
}

/* Main Page 2 */
.about{
    width: 1500px;
  left: 300px;
  margin-top: 50px;
  font-size: 20px;
}

.sangria{
    text-indent: 30px;
}


/* Main Page 3 */

.datos{
    width: 1500px;
    left: 300px;
    margin-top: 50px;
    font-size: 20px;
}

#email{
    text-decoration: none;
    color: cornflowerblue;
}



/* footer */
footer {
  display: inline-block;
  top: 50px;
  left: 1600px;
}
